/*  your css code here. If applicable */
body{
	background-color:gray;
}
h1{
	text-align:center;
}
.player_one{
	height:150px;
	background-color:white;
	align-item:center;
	border-radius:10px;
	border:1px solid black;
}